---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Blog | ED-Studio"
  description="Ernadima Studio membantu bisnis dan individu melalui jasa desain grafis, website modern, branding, dan solusi digital yang profesional dan terpercaya."
  canonical="https://ernadima.com"
>
  <Navbar />
  <h1>Blog Page</h1>
  <Footer />
</Layout>
