@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
  /* Primary */
  --color-ed-primary-50: #f1f7fe;
  --color-ed-primary-100: #e2f0fc;
  --color-ed-primary-200: #bde1fa;
  --color-ed-primary-300: #84c9f5;
  --color-ed-primary-400: #42aeee;
  --color-ed-primary-500: #188dd3;
  --color-ed-primary-600: #0c76bd;
  --color-ed-primary-700: #0b5e99;
  --color-ed-primary-800: #1842b5;
  --color-ed-primary-900: #1a3d92;
  --color-ed-primary-950: #142657;

  /* Secondary */
  --color-ed-secondary-light: #f7e5ff;
  --color-ed-secondary-base: #b210da;
  --color-ed-secondary-dark: #850b9d;

  /* Neutral */
  --color-ed-neutral-50: #f8fafc;
  --color-ed-neutral-100: #f0f2f4;
  --color-ed-neutral-900: #2c3341;
  --color-ed-neutral-950: #1c2430;
}
