---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="About | ED-Studio"
  description="Ernadima Studio membantu bisnis dan individu melalui jasa desain grafis, website modern, branding, dan solusi digital yang profesional dan terpercaya."
  canonical="https://ernadima.com/about"
>
  <Navbar />
  <h1>About Page</h1>
  <Footer />
</Layout>
