---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="About | ED-Studio"
  description="Tentang Kami Partner Digital Anda"
  canonical="https://ernadima.com/about"
>
  <h1>About Page</h1>
</Layout>