---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Contact | ED-Studio"
  description="Hubungi Kami Untuk Masalah Digital Anda"
  canonical="https://ernadima.com/contact"
>
  <h1>Contact Page</h1>
</Layout>